/* Desktop container utility class: */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*Desktop view ------------------------------------------------------------------*/
/* All pages Desktop Pages - This set of CSS applies to each page, for the CSS specific to each page find the comment for that page -----------------------------------------------------------*/
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
}
header {
  grid-area: header;
  padding: 25px 0px 10px 0px;
}
header a {
  text-decoration: none;
  padding: 0px 25px 0px 25px;
  color: black;
}
h1 {
  font-weight: 900;
  padding-bottom: 8px;
  color: #f1f1f1;
}
h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px 15px 0px 15px;
}
p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin: 15px 15px 25px 15px;
}
button {
  margin: 15px 15px 25px 15px;
}
.wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.hero-button {
  width: 100px;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  background: #f1f1f1;
  font-size: medium;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}
.hero-button:hover {
  background-color: #f28f9f;
  box-shadow: 3px 3px 10px 3px #969494;
  color: #f1f1f1;
}
.navigation {
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.navigation a {
  margin-left: 0px;
  border-right: thin solid black;
  font-size: 1rem;
}
.navigation a:hover {
  color: #81d8d0;
}
.hero-section {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px 20px 15px 20px;
}
.hero-section-main-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  z-index: 1;
}
.hero-section-social-links a :hover {
  fill: rgb(242, 206, 174);
  box-shadow: 3px 3px 10px 3px #969494;
}
.hero-section-content {
  border-radius: 15px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}
.hero-section-video {
  width: 100%; /* Set the video width to 100% of its container */
  height: auto; /* Allow the video's height to adjust proportionally */
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.hero-section-main {
  justify-content: space-around;
}
.hero-section-main-text {
  font-size: 2rem;
  margin: 25px 15px 0px 15px;
  text-shadow: 3px 3px 10px 3px #969494;
}
.social-links {
  margin: 5px 5px 5px 5px;
}
.hero-section-main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -5px 5px 5px 5px;
  padding: 0px;
  width: 100%;
}
.hero-section-sub-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
  padding-left: 0px;
}
.hero-section-sub-info li {
  list-style: none;
}

/* adopt section */
/* .adopt {
  text-align: center;
  padding: 20px;
  margin: 0px 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1280px;
  height: 600px;
} */
.adopt-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-left: #969494 1px solid;
  border-right: #969494 1px solid; */
  /* margin-bottom: 100px; */
  margin-top: 150px;
  margin-bottom: 100px;
}
.adopt-title {
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.adopt-title img {
  width: 80px;
}
.adopt-pets {
  flex-direction: row;
  align-items: center;
}
/* adopt carousel */
/* Default card styles (for all screen sizes) */
.card-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* padding: 40px; */
  grid-gap: 22px;
   justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-left: #969494 1px solid;
  border-right: #969494 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Adopt cards and wish cards */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  margin: 10px;
  perspective: 1000px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.pet-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 15px;
}

.card-front {
  background-color: #3498db;
  color: #fff;
  background-size: cover; /* Ensure the image covers the entire card */
  background-position: center; /* Center the background image */
}

.card-back {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 10px 3px #969494;
  transform: rotateY(180deg);
}

.card-description {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.wishlist-image {
  max-width: 100%;
  min-width: 150px; /* Ensure images don't exceed their container width */
  height: 100%; /* Maintain image aspect ratio */
  border-radius: 15px;
  aspect-ratio: auto;
}
img {
  max-width: 100%;
  max-height: 100%; /* Ensure images don't exceed their container width */
  height: 100%; /* Maintain image aspect ratio */
  border-radius: 15px;
  aspect-ratio: auto;
}
/* wish List */

.wish-section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 10px;
  perspective: 1000px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;

}
.wish-section-header ~ .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 15px;
  /* width: 1050px; */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
}
.wishlist-card-container .card img {
  max-width: 100%;
  min-width: 250px; /* Ensure images don't exceed their container width */
  height: 100%; /* Maintain image aspect ratio */
  border-radius: 15px;
  aspect-ratio: auto;
}
.wish-section-header {
  display: flex;
  justify-content: center;
 
  align-items: center;
  flex-direction: column;
  margin: 150px 0px 100px 0px;
  font-size: 2rem;
  font-weight: 800;
}

.wishlist-main-text {
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* donation form */
form {
  width: 1200px;
}
.form-section-header {
  display: flex;
  margin: 150px 0px 100px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title-main {
  font-size: 2rem;
  font-weight: 800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.donateForm {
  margin-bottom: 50px;
  width: 1280px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  border-left: #969494 1px solid;
  border-right: #969494 1px solid;
  justify-content: center;
  align-content: center;
}

.donateForm h3 {
  font-weight: 700;
  font-size: 1.5rem;
  /* font-size: 18px; */
}

.donateForm label {
  display: block;
  margin-bottom: 5px;
}

.donateForm input[type="text"],
.donateForm input[type="email"],
.donateForm input[type="checkbox"],
.donateForm input[type="radio"] {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.donateForm .amount label,
.donateForm .type label {
  display: inline;
  margin-right: 10px;
}

.donateForm .type {
  grid-column: span 2;
}

.donateForm .name,
.donateForm .email {
  grid-column: span 2;
}

.donateForm .address2 {
  grid-column: span 2;
}

.donateForm .buttons {
  grid-column: span 2;
}

.donateForm input[type="reset"],
.donateForm input[type="submit"] {
  background-color: #969494;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 25px 0px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.donateForm input[type="reset"]:hover,
.donateForm input[type="submit"]:hover {
  background-color: #f28f9f;
}

.donateForm .payment {
  grid-column: span 2;
}
/* The desktop-first pre-defined media queries: */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}

/* Mobile container utility class: */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Desktop container utility class: */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

}
